          </div>
          <!-- end wikicontainer -->

        </div>
        <!-- end container -->

      </div>
    </div>


    <!-- start footer -->
    <div class="footer">
      <div class="container">
        <div class="span2">
          <h4>Couchio</h4>
          <ul>
            <!--<li><a href="/about" title="About Couchio">About</a></li>-->
            <li><a href="/about" title="Team">Team</a></li>
            <li><a href="/contact" title="Contact">Contact</a></li>
          </ul>
        </div>

        <div class="span2">
          <h4>Dev Room</h4>
          <ul>
            <li><a href="/get" title="Try CouchDB Now">Try CouchDB</a></li>
            <li><a href="/case-studies" title="Case Studies">Case Studies</a></li>
            <!--<li><a href="" title="Case Studies">API Docs</a></li>
            <li><a href="" title="Case Studies">Videos</a></li>-->
            <li><a href="http://forums.couch.io/" title="Forums">Forums</a></li>
          </ul>
        </div>

        <div class="span2">
          <h4>Open Source</h4>
          <ul>
            <!--<li><a href="http://couchapp.org/" title="CouchApp.org">CouchApp.org</a></li>-->
            <li><a href="http://couchdb.apache.org/" title="Apache CouchDB">Apache CouchDB</a></li>
          </ul>
        </div>

        <div class="span2">
          <h4>News</h4>
          <ul>
            <!--<li><a href="" title="Newsroom">Newsroom</a></li>-->
            <li><a href="http://blog.couch.io/" title="Couchio Blog">Blog</a></li>
            <li><a href="http://www.twitter.com/couchio/" title="Couchio on Twitter">Twitter</a></li>
          </ul>
        </div>

        <div class="span4 last">

           <h4>Legal</h4>
           <ul>
             <li><a href="tos" title="Terms of Service">Terms of Service</a></li>
             <li><a href="privacy" title="Privacy Policy">Privacy Policy</a></li>
           </ul>

        </div>

        <p class="copyright center">&copy; 2010 Couchio, a Relaxed Company</p>
      </div>

    </div>
    <!-- end footer -->
  
  </body>
</html>