<div class="markdown-help">
  <h3>Markdown basics:</h3>

<pre>
# Header 1
## Header 2
### Header 3
#### Header 4
##### Header 5 (looks like header 4 in most browsers)

This is a paragraph, which is text surrounded by whitespace. Paragraphs 
can be on one line (or many), and can drone on for hours.  

### Links

Here is a Markdown link to [Apache CouchDB](http://couchdb.apache.org), 
and a literal &lt;http://link.com/&gt;.

You can link to other pages in the wiki like 
this: [another page in the wiki](another-page)

**note the wiki page id is just the thing in the parentheses**

Here's a link to [the wiki home page](index).

You can also create links with CamelCase or with [[double-bracket-links]]

### Emphasis

Now some inline markup like _italics_, **bold**, and `code()`.

### Images are easy

![picture alt](/_utils/image/logo.png "Title is optional")     

> Blockquotes are like quoted text in email replies
>> And, they can be nested

Another paragraph, this one is longer: Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
id est laborum.

* Bullet lists are easy too
- Another one
+ Another one

### Horizontal rules

* * * *

****

--------------------------

And now some code:

    // Code is just text indented a bit
    which(is_easy) to_remember();
    // it's indented by 4 spaces

Text with  
two trailing spaces  
(on the right)  
can be used  
for things like poems  

_That's it, folks!_
</pre>

</div>
