{{>header}}
<ul>
  {{#comments}}
    <li>
      <span class="date">{{at}}</span>:
      {{#by}}{{name}} {{/by}}
      {{^by}}Unknown {{/by}}
      (<a href="../page/{{topic}}">{{topic}}</a>)
      <span class="idontknow">{{comment}}</span>
    </li>
  {{/comments}}  
</ul>
  </body>
  <script src="/script/myloader.js"></script>
  <script src="/_utils/script/base64.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      $(".date").prettyDate();
      $("#account").evently("account", app);
      var pr = app.ddoc.evently.profile.profileReady;
      pr.mustache = pr.all; // mod the template for this page
      $("#profile").evently("profile", app);
      $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
    },{
      db : "pages",
      design : "pages"
    });
  </script>
</html>
