{{>header}}
<ul>
  {{#pages}}
    <li><a href="../page/{{id}}">{{title}}</a> by {{by}} <span class="date">{{at}}</span></li>
  {{/pages}}  
</ul>
  </body>
  <script src="../script/myloader.js"></script>
  <script src="/_utils/script/base64.js"></script>
  <script type="text/javascript" charset="utf-8">
    var opts = {};
    if (document.location.pathname.indexOf("_design") == -1) {
      // we are in a vhost
      opts.db = "pages";
      opts.design = "pages";
    };
    $.couch.app(function(app) {
      $(".date").prettyDate();
      $("#account").evently("account", app);
      var pr = app.ddoc.evently.profile.profileReady;
      pr.mustache = pr.all; // mod the template for this page
      $("#profile").evently("profile", app);
      $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
    }, opts);
  </script>
</html>
