<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - {{site_title}}</title>
    <link rel="stylesheet" href="/style/base-min.css" type="text/css">
    <link rel="stylesheet" href="/style/main.css" type="text/css">
  </head>
  <body>
    
    <div id="header">
      <div id="account"></div>      
      <h1><strong>{{site_title}}:</strong> <a href="/page/{{id}}">{{title}}</a></h1>
    </div>
    


    <div id="profile"></div>
    <div id="wiki">{{{body}}}</div>
  </body>
  <script src="/script/myloader.js"></script>
  <script src="/_utils/script/base64.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      $("#account").evently("account", app);
      $("#profile").evently("profile", app);
      $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
      $$("#wiki").docid = {{docid}};
      $("#wiki").evently("wiki", app);
      $.pathbinder.begin("{{begin}}");
    },{
      db : "pages",
      design : "pages"
    });
  </script>
</html>
