/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  line-height: 1.2em;
  color: #333;
}

a {
  border-bottom: 2px solid #CCC;
  text-decoration: none;
  color: #569;
}

h1 {
  font-weight:bold;
  font-size:2.2em;
}

h2 {
  font-size:1.7em;
}

a.missing {
  color : #d00;
}

#header {
  background:#f3f3f7;
/*  background: #f3f3f7 url(/pages/_design/pages/images%2fpaper.png) repeat-x;*/
  padding: 32px 32px 16px 32px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  min-height:40px;
}

#header h1 {
  margin:0;
  font-weight:bold;
  font-size:2.2em;
}

#header h1 a {
  border: none;
}


#account {
  float:right;
}

#account form {
  margin:0;
  padding-top:4px;
  padding-bottom:4px;
  margin-top:-10px;
  border:none;
  background:none;
}

#profile {
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  margin-bottom:8px;
  float:right;
  border-left:1px solid #AABBCC;
}

p.menu {
  margin:8px;
  float:right;
}

p.menu a {
  padding:4px;
  margin:2px;
  background:#EAF3FA;
  border-radius: 5px;
}

#tools div {
  float:right;
  clear:right;
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  border-left:1px solid #AABBCC;
  background:#cde;
  padding:8px;
  max-width:35%;
}

#wiki, #comments, #files {
  margin: 12px 0px;
  padding: 12px 32px;
}

#wiki .wiki {
  width:65%;
  margin:32px 0;
}

#wiki pre {
  background:#ddd;
  padding:4px;
}
#wiki code {
  background:#ddd;
}

#comments {
  background:#efeeef;
}

#comments p {
  margin-bottom:4px;
}

#comments li {
  margin:4px 0px;
  padding:4px 0px;
  background:#dfdcdf;
  list-style-type: none;
}

#comments ul {
  margin: 0;
  padding: 0;
}

.date {
  font-size:80%
}

#files {
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  padding:8px;
}

.preview {
  float:right;
  font-size:80%;
  width:37%;
  background:#eee;
  padding:4px;
}

.markdown-help pre {
  overflow-x:auto;
  background:#bbb;
  padding:4px;
}

.edit-form {
  float:left;
  width:60%;
}

textarea[name=markdown] {
  width:100%;
}
input[type=submit] {
  margin:10px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.25);
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  background: #222 url(../../images/button-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #111;
}

form {
  padding:2px;
  margin:0;
  background-color:#ddd;
  border: 1px solid #b1b1b1;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

.clear {
  clear:both;
}