/* add styles here */

body {
  font:1em Helvetica, sans-serif;
}

h1 {
  margin:0;
  font-weight:normal;
  font-size:2em;
}

#header {
  background:#f3f3f7;
  padding:8px;
}

#account {
  float:right;
}

#profile {
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  margin-bottom:8px;
}

p.menu {
  margin:8px;
  float:right;
}

p.menu a {
  padding:4px;
  margin:2px;
  background:#EAF3FA;
  border-radius: 5px;
}

#wiki {
  margin:8px;
}

#files {
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  padding:8px;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}
