/* add styles here */

body {
  font:1em Helvetica, sans-serif;
}

h1 {
  margin:0;
  font-weight:normal;
  font-size:2em;
}

#header {
  background:#f3f3f7;
  padding:8px;
}

#account {
  float:right;
}

#profile {
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  margin-bottom:8px;
  float:right;
}

p.menu {
  margin:8px;
  float:right;
}

p.menu a {
  padding:4px;
  margin:2px;
  background:#EAF3FA;
  border-radius: 5px;
}

#tools {
  float:right;
  clear:right;
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  padding:8px;
  max-width:35%;
}

#wiki {
  margin:8px;
}

#comments {
  margin:4px;
  padding:4px;
  background:#efeeef;
}

#comments p {
  margin-bottom:4px;
}

#comments li {
  margin:4px;
  padding:4px;
  background:#dfdcdf;
}

#comments ul li {
  list-style-type: none;
}

.date {
  font-size:80%
}

#files {
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  padding:8px;
}

.markdown-help {
  float:left;
  margin-left:20px;
  width:37%;
}

.markdown-help pre {
  overflow-x:auto;
  background:#bbb;
  padding:4px;
}

.edit-form {
  float:left;
  width:60%;
}

.preview {
  background:#eee;
  padding:4px;
}

textarea[name=markdown] {
  width:100%;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

.clear {
  clear:both;
}